<li id="comment-list-<%= comment._id %>">
  <p>
    <% if(locals.user && locals.user.id == comment.user.id){ %>
    <small>
      <a class="delete-comment-btn" href="/comment/destroy/<%= comment.id %>"
        >X
      </a>
    </small>

    <% } %> <%= comment.content %>
  </p>
  <br />
  <small> <%= comment.user.name %> </small>
</li>
