<footer>
  <div id="main">
    <div id="cr"><p>@copywrite under coding_ninja 2019</p></div>
    <div id="menu">
      <a href="/">Home</a>
      <a href="/users/profile">Profile</a>
    </div>
  </div>
</footer>
